{
	Fields2 = (
		"",
		"",
		"",
		"",
		"",
	);
	Click1 = (
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
		NO,
	);
}