<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>Must-haves for your labour bag – checklist</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Your birth plan and maternity notes</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Dressing gown</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>A night dress or T shirt to wear during labour</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Another night dress to wear after labour</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Loose comfortable clothes to leave hospital wearing</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Massage oil or lotion</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>A birth ball</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Snacks and drinks</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Hair bands or hair clips</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Nursing bras</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Nipple cream</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Breast pads</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Maternity pads</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Toiletries</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Knickers – disposable of large cotton ones are best</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Towels, hair brush, tooth brush and tooth paste</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Warm socks</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Must-haves for your newborn – checklist </string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Two or three sleepsuits and vests</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>A baby blanket</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Nappies</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Cotton wool balls</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Nappy sacks</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Nappy cream</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Two pairs of socks or booties</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Hat</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Jacket or snowsuit for winter babies</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Muslin squares </string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>A baby car seat</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>One outfit for the trip home</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Nice to have…</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Camera</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Magazines, books</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Music (either CDS or your iPod/MP3 player)</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Phone and phone charger</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>A treat for after you’ve given birth (chocolate usually works)</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>A shawl/scarf/pashmina for if it gets cold, or for throwing over yourself when you’re first getting the hang of breastfeeding during visitor hours</string>
		<key>checked</key>
		<false/>
	</dict>
</array>
</plist>
